
<% if(entry) { %>
    <div>
      <hr>
        <span class="entry-title"><%= entry.title %></span>
        <span class="entry-author">by <%= entry.User.username %></span>
        <span class="entry-body"><%= entry.body %></span>
    </div>
  <% } %>